
<div>
  <h1>ToDo</h1>
</div>
<div class ="container">
  <div class ="alert alert-warning" *ngIf="todoForm.dirty">Enter valid values</div>
  <form (ngSubmit)="!todoForm.invalid && saveToDo()" #todoForm = "ngForm">
    <fieldset class ="form-group">
      <label>Description</label>
  
    <input type="text"  class ="form-control" [(ngModel)]="todo.description" name ="description" required ="required">
    </fieldset>

    <fieldset class = "form-group">
      <label>targetDate</label>
    <input type = "date" class ="form-control" 
    [ngModel]= "todo.targetDate | date:'yyyy-MM-dd' " 
    (ngModelChange)= "todo.targetDate = $event"
    name ="targetDate" required="required">
    </fieldset>

    <button type ="submit" class ="btn btn-success">save</button>


</form>
</div>
